<script setup>
import { theme } from "ant-design-vue";
</script>
<template>
    <a-config-provider
        :theme="{
            algorithm: [theme.defaultAlgorithm, theme.compactAlgorithm],
            // token: {
            //     colorPrimary: '#00b96b',
            // },
        }"
    >
        <a-button type="primary">Test</a-button>
    </a-config-provider>
</template>
